body{
    margin: 0px;
    padding:0px;
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    margin-top: 50px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    padding: 30px;

}
h1{
    margin-top: 30px;
    font-size: 2rem;
    padding-bottom: 20px;
}
.board{ 
    margin-top: 20px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns:repeat(3,120px);
    grid-template-rows: repeat(3,120px);
    gap: 10px;

}

.cell{
    height: 120px;
    width: 120px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: 900;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cell:hover{
    background-color:ghostwhite;
}

.cell:taken{
    pointer-events: none;
    color: #555;
}

#winmsg{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 20px;
    color: rgb(210, 3, 3);
}

button{
    padding: 10px 20px;
    background-color: rgb(41, 41, 41);
    color: rgb(211, 181, 9);
    border: none;
    font-size: 1.5rem;
    border-radius: 8px;
    margin-top: 15px;
}

button:hover{
    background-color:rgb(211, 181, 9);
    color: rgb(41, 41, 41);
    transform: translateY(-13px);
    transform: scale(1.1);
    transition: all 0.3s ease;
}

p{
    color: black;
    font-size: larger;
}

#player1{
    text-align: center;
    width: 220px;
    font-size: 1.1rem;
    padding:5px 8px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border-radius: 10px;
    left: 150px;
    top:20px;
    border: 5px solid black;
}

#player2{
    text-align: center;
    width: 220px;
    font-size: 1.1rem;
    padding:5px 8px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border-radius: 10px;
    right:150px;
    top:20px;
    border: 5px solid black;
}

img{
    height: auto;
    width: 200px;
    border-radius: 9px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.imgX{
    position: absolute;
    left:150px;
    top: 150px;
    padding: 10px;
    border-radius: 10px;
}
.imgY{
    position: absolute;
    right:150px;
    top: 150px;
    padding: 10px;
    border-radius: 10px;
}